{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body px-lg-5 pt-0">
        <br/>
        <h1 class="text-center">This is the register page!</h1>
        <br/><br/>
        <div class="md-form form-lg">
            <form class="text-center" style="color: #757575;" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="md-form">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <br/>
                <button type="submit" class="btn btn-info btn-block my-4 blue-gradient">Register</button>

                <hr>

                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}