{% extends "base.html" %}

{% block title %}Award Points{% endblock %}

{% block content %}
<h1 class="text-center">Award Points</h1>

<form method="POST" id="awardForm" class="text-center border border-light p-5" action="#!"
      data-players-url="{% url 'load_players' %}">
    {% csrf_token %}


    <label for="{{ form.gameboard.id_for_label }}">Choose a gameboard:</label>
    {{ form.gameboard }}

    <br>

    <div class="form-row mb-4">
        <div class="col">
            {{ form.player.label}}
            {{ form.player }}
        </div>
        <div class="col">
            {{ form.position.label}}
            {{ form.position }}
        </div>
        <div class="col">
            {{ form.points_awarded.label}}
            {{ form.points_awarded }}
        </div>
    </div>
    <div>
        {{ form.team_game.label}}
        {{ form.team_game }}
    </div>
    <br/>
    <div>
        {{ form.game_name.label}}
        {{ form.game_name }}
    </div>


    <br/><br/>
    <button class="btn btn-info btn-block" type="submit">Award Points</button>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_gameboard").change(function() {
        const url = $("#awardForm").attr("data-players-url");
        const gameboardId = $(this).val()

        $.ajax({
            url:url,
            data: {
                'gameboard_id': gameboardId
            },
            success: function(data) {
                console.log(data);
                $("#id_player").html(data);
            }
        });
    });


</script>

{% endblock %}