{% extends "base.html" %}

{% block title %}Test{% endblock %}

{% block content %}
<h2>Points Form</h2>

 <!-- Default form contact -->
    <form method="post" id="awardForm" class="text-center border border-light p-5" action="#!" data-players-url="{% url 'load_players' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p class="h4 mb-4">Award Points</p>
        {{ form.management_form }}
        <!-- Gameboard -->
        <label for="{{ form.gameboard.id_for_label }}">Gameboard</label>
        {{ form.gameboard }}

        <br>

        <div class="form-row mb-4">
            <div class="col">
                <!-- Player -->

                {{ form.player }}
            </div>
            <div class="col">
                <!-- Place -->
                {{ form.position }}
            </div>
            <div class="col">
                <!-- Points -->
                {{ form.points_awarded }}
            </div>
            <div class="col">
                <!-- Last name -->

               {{ form.team_game }}
            </div>
        </div>

        <!-- Name -->
        {{ form.game_name }}


        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Send</button>

    </form>
<!-- Default form contact -->
<script src ="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_gameboard").change(function() {
        const url = $("#awardForm").attr("data-players-url");
        const gameboardId = $(this).val()

        $.ajax({
            url:url,
            data: {
                'gameboard_id': gameboardId
            },
            success: function(data) {
                console.log(data);
                $("#id_player").html(data);
            }
        });
    });
</script>

{% endblock %}