{% extends "base.html" %}

{% block title %}New Gameboard{% endblock %}

{% block content %}
    <div class="card-body px-lg-5 pt-0">
        <br/>
        <h1 class="text-center">Start a new gameboard!</h1>
        <br/><br/>
        <div class="md-form form-lg">
            <form method="POST">
                {% csrf_token %}
                    {{ form }}
             <br/>
             <br/>
                <button type="submit" class="btn btn-info btn-block my-4 blue-gradient">Create New Gameboard</button>
            </form>
        </div>
    </div>
{% endblock %}