{% extends "base.html" %}

{% block title %}Find Your Gameboard{% endblock %}

{% block content %}
    <h1>Find Your Gameboard</h1>

    <ul>
        {% for gameboard in object_list %}
        <li>
            {{ gameboard.gameboard_name }} - {{ gameboard.id }} -

            {% for player in gameboard.gameboard_players.all %}
                {{ player.username }}
            {% endfor %}
            <form action="{% url 'join_gameboard' %}" method="POST">
                {% csrf_token %}
                <button type="submit", name="join_button" value="{{ gameboard.id }}">JOIN</button>
            </form>
        </li>
        {% endfor %}
    </ul>

{% endblock %}