{% extends "base.html" %}
{% load static %}
{% block title %}Standings{% endblock %}

{% block style %}


{% endblock %}

{% block content %}
<div class="text-center" id="gameboardSelect">
    <form id="gameSelect" data-scores-url="{% url 'load_scores' %}">
        <select id="id_gameboard" class="browser-default custom-select">
            {% for gameboard in gameboards %}
            <option class="" value="{{gameboard.id}}">{{gameboard.gameboard_name}}</option>
            {% endfor %}
        </select>
    </form>
</div>

<div class="container">
    <div class="row text-center" id="scoreCards">

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const url = $("#gameSelect").attr("data-scores-url");
        const gameboardId = $("option:first").val()

            $.ajax({
                url:url,
                data: {
                    'gameboard_id': gameboardId
                },
                success: function(data) {
                    console.log(data);
                    $("#scoreCards").html(data);
                }
            });
    });

    $("#id_gameboard").change(function() {
        const url = $("#gameSelect").attr("data-scores-url");
        const gameboardId = $(this).val()

        $.ajax({
            url:url,
            data: {
                'gameboard_id': gameboardId
            },
            success: function(data) {
                console.log(data);
                $("#scoreCards").html(data);
            }
        });
    });

</script>

{% endblock %}
