{% extends "base.html" %}

{% block title %}Standings{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
    {% for total in totals %}
        <div class = "col-lg-4 col-md-6 mb-4">
              <div class="card" style="width: 20rem;">
              <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap" style="width: 100px">
              <div class="card-block">
                <h4 class="card-title">Mirion Jones</h4>
                <p class="card-position">CEO Founder</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}